.todo-item {
    height: 80px;
    line-height: 80px;
    width: 100%;
    display: flex;

    input[type="text"] {
        font-size: 1.1rem;
        padding: 15px 20px;
        flex-grow: 1;
    }

    input[type="checkbox"] {
        appearance: none;
        border-radius: 100%;
        padding: 20px;
        margin: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;

        background-color: rgb(173, 82, 82);

        &:hover {
            background-color: rgb(168, 119, 118);
        }

        &:checked {
            background: var(--primary-grad);
            background-image: url("./check.svg");
            background-color: #50bd7b;
            background-size: 60% 60%;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:focus {
            outline: none;
        }
    }
}