.todo-list {
    padding: 20px;

    .new-todo-btn {
        display: block;
        width: 50%;
        min-width: 155px;
        margin: auto;
        padding: 15px;
        font-size: 1.1rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}